* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #20413b;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding: 0 10px;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5%;
    flex-wrap: wrap;
}

.logo h2 {
    font-size: 1.5rem;
}

.links nav ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.links nav ul li {
    list-style: none;
}

.links nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    background: #037962a4;
    padding: 10px 15px;
    border-radius: 5px;
}

/* MAIN TEXT */
.texty {
    margin-top: 9rem;
    font-size: 18px;
    text-shadow: 0px 0px 8px #00ff00;
}

/* TOKENOMICS */
.tokenomics {
    margin-top: 8rem;
}

.percents {
    border: 3px solid #00ff00;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 2px #4eb84e;
    width: 90%;
    max-width: 650px;
    padding: 12px;
    margin: 2rem auto;
    animation: rotatingLight 2s infinite linear;
}

/* GLOWING EFFECT */
@keyframes rotatingLight {
    0% {
        box-shadow: 0px -5px 15px #00ff00;
    }

    25% {
        box-shadow: 5px 0px 15px #00ff00;
    }

    50% {
        box-shadow: 0px 5px 15px #00ff00;
    }

    75% {
        box-shadow: -5px 0px 15px #00ff00;
    }

    100% {
        box-shadow: 0px -5px 15px #00ff00;
    }
}

/* POOL ITEMS */
.pool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pool p {
    padding-top: 2rem;
    text-shadow: 0px 0px 8px #00ff00;
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .links nav ul {
        justify-content: center;
        gap: 10px;
    }

    .texty {
        font-size: 16px;
        margin-top: 3rem;
    }

    .percents {
        width: 95%;
        max-width: 300px;
    }

    .pool {
        flex-direction: column;
        gap: 10px;
    }
}